{% extends "base.html" %}

{% block title %}Game Rater{% endblock %}

{% block content %}

<h1>Results for {{query}}</h1>

<ul>
    {% for game in games %}
        <li>
            <a href="{% url 'load_game_page' game.id %}?name={{ game.name|urlencode }}&released={{ game.released }}&img_url={{ game.img_url|urlencode }}">
            {{ game.name }} | {{ game.released|slice:"4"}}
            </a>
        </li>
    {% empty %}
        <li>No games matched {{query}}</li>
    {% endfor %}
</ul>
{% endblock %}